<section id="ToDone" class="container h-100" [ngClass]="{'pageLoaded' : (state | async).isComponentOK}">
	<div class="row justify-content-center align-items-center h-100">
		<div id="DesignEntrypoint" class="col">
			<div class="row">
				<div class="col">
					<header class="row">
						<div class="logo-to">To</div>
						<div class="logo-done">DONE</div>
					</header>

					<aside class="row" [ngClass]="(state | async).activeTypeFilter.toLowerCase()">
						<ul class="col">
							<li (click)="applyTypeFilter(TypeFilters.All)">ALL</li>
							<li (click)="applyTypeFilter(TypeFilters.Active)">ACTIVE</li>
							<li (click)="applyTypeFilter(TypeFilters.Completed)">COMPLETED</li>
						</ul>
					</aside>
				</div>
				<div class="col">
					<div class="row">
						<app-input-box></app-input-box>
					</div>

					<div class="row">
						<app-list></app-list>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
