<section id="InputBox" class="container">
	<div class="row align-items-center">
		<div class="col">
			<div class="row">
					<input
						type="text"
						placeholder="Type Here"
						[(ngModel)]="entry"
						maxlength="{{ maxEntryLength }}"
					/>

					<div class="limit">
						{{ entry.length }}/{{ maxEntryLength }}
					</div>

					<div class="limit red" [ngStyle]="{'opacity' : entry.length / maxEntryLength}">
						{{ entry.length }}/{{ maxEntryLength }}
					</div>
			</div>
		</div>
		<div
			class="col"
			(click)="createNewEntry()"
			[ngClass]="{'disabled': entry.length === 0}">
		</div>
	</div>
</section>
