@import './Colors.scss';

:host {
	flex-grow: 1;
	max-width: 100%;
}

#InputBox {

	> .row {
		height: 80px;
		flex-wrap: nowrap;
		margin: 0;

		> .col:first-child {
			position: relative;

			input {
				height: 50px;
				width: 100%;
				padding: 0 15px;

				color: GetColor(ForeGround, I100);
				font-size: 20px;

				outline: none;
				border: none;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;

				&::placeholder {
					color: GetColor(Overlay, D600);
					font-style: italic;
				}
			}

			.limit {
				position: absolute;
				right: 3px;
				bottom: 0;
				font-size: 10px;
				color: GetColor(ForeGround, I100);

				&.red {
					color: GetColor(ForeGround, P300);
				}
			}
		}

		> .col:last-child {
			height: 50px;
			max-width: 50px;
			background: GetColor(BackGround, P200) url(/assets/send.svg) no-repeat;
			background-size: 60%;
			background-position: center;

			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;

			transition: background-color .2s ease-out;
			cursor: pointer;

			&.disabled {
				background-color: lighten($color: GetColor(BackGround, P200), $amount: 20%);
			}
		}
	}
}
